
.about-container {
    padding-top: 200px;
    width: 60%;
  }
  
  .about-sub-heading {
    font-size: 24px;
    color: #adadad;
    font-family: Comfortaa, sans-serif;
    padding-left: 96px;
    padding-bottom: 10px;
  }

  .chevron-span {
    color: #39d05c;
  }

  .breakpoint {
    font-weight: normal;
  }
  
  .about-heading {
    font-size: 86px;
    color: #ffffff;
    font-family: Tektur, sans-serif;
    padding-left: 96px;
    padding-bottom: 48px;
    font-weight: 700;
  }

  .about-text {
    font-size: 18px;
    color: #ffffff;
    font-family: Comfortaa, sans-serif;
    padding-left: 96px;
    padding-bottom: 200px;
  }

  .core-values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 48px;

  }

 
.core-values-container {
  z-index: 0;
  flex: 1;
  max-width: 50%;
  position: sticky;
  top: 200px; /* Adjust this value for spacing */
  align-self: flex-start;
  height: fit-content;
}

  .core-values-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 58px;
    padding-right: 48px;
    padding-bottom: 200px;
    flex: 1;
  }

  .core-values-list-item {
    color: #ffffff;
    padding-bottom: 148px;
  }

  .core-values-heading {
    font-size: 64px;
    color: #ffffff;
    font-family: Tektur, sans-serif;
    padding-left: 48px;
    padding-bottom: 16px;
    font-weight: 700;
  }

  .highlight-core {
    position: relative;
    display: inline-block;
   padding: 0 10px;
    z-index: 0;
}

.highlight-core::before {
  content:"";
  z-index:1;
  left:-0.1em;
  top:.3em;
  border-width:3px;
  border-style:solid;
  border-color:#39d05c;
  position:absolute;
  border-right-color:transparent;
  width:100%;
  height:1.1em;
  transform:rotate(4deg);
  opacity:0.7;
  border-radius:50%;
  padding:0.1em 0.25em;
}

.highlight-core:after{
  content:"";
  z-index:1;
  left:-0.1em;
  top:0.3em;
  padding:0.1em 0.25em;
  border-width:4px;
  border-style:solid;
  border-color:#39d05c;
  border-left-color:transparent;
  border-top-color:transparent;
  position:absolute;
  width:100%;
  height:1.1em;
  transform:rotate(-1deg);
  opacity:0.7;
  border-radius:50%;
}

  .core-values-text {
    font-size: 18px;
    color: #ffffff;
    font-family: Comfortaa, sans-serif;
    padding-left: 48px;
    padding-bottom: 200px;
  }

  .CV-list-item-header {
    font-size: 24px;
    font-family: Comfortaa, sans-serif;
    display: flex;
    align-items: center;
    gap: 20px; 
    margin-bottom: 10px; 
    font-weight: 700;
}

.CV-list-item-text {
    font-size: 16px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    padding-left: 48px;
    padding-bottom: 30px;
    line-height: 1.5;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
  
  .blur-icon {
    color: #39d05c;
    margin-left: 44px;
    animation: spin 4s linear infinite;
  }