.case-detail-container {
    display: flex;
    padding-top: 200px;
    justify-content: space-between; /* Space out content evenly */
    width: 100%; /* Adjust width to fit content */
    margin: auto;
    color: white;
    padding-bottom: 200px;
}

.case-detail-content {
    flex: 1; /* Take up equal space */
    padding-right: 50px; /* Adds spacing between text and image */
    padding-left: 48px;
}

.case-study-sub-heading {
    font-size: 24px;
    color: #adadad;
    font-family: Comfortaa, sans-serif;
    padding-bottom: 10px;
  }

  .case-study-heading {
    font-size: 86px;
    color: #ffffff;
    font-family: Tektur, sans-serif;
    padding-bottom: 48px;
    font-weight: 700;
  }

  .case-study-description {
    font-size: 18px;
    color: #ffffff;
    font-family: Comfortaa, sans-serif;
    padding-bottom: 200px;
  }

  .case-detail-img {
    flex: 1; /* Take up equal space */
    max-width: 50%; /* Ensures it doesn’t overflow */
    height: auto;
    object-fit: fill;
    border-radius: 10px;
    margin-right: 48px;
}

.case-study-design-container {
    display: flex;
    justify-content: space-between; /* Space out content evenly */
    align-items: center;
    width: 100%;
    margin: auto;
    color: white;
    padding-bottom: 200px;
}