:root {
    --malachite: #39d05c;
    --columbia-blue: #A6BEC9;
    --raisin-black: #282828;
    --text-color: #ffffff;
  }
  
  
  .about-container {
    margin-top: 200px;
    width: 60%;
  }
  
  .about-sub-heading {
    font-size: 24px;
    color: var(--columbia-blue);
    font-family: Comfortaa, sans-serif;
    margin-left: 96px;
    margin-bottom: 10px;
  }
  
  .chevron-span {
    color: #39d05c;
  }
  
  .logo-md {
    width: 500px;
  }
  
  .about-heading {
    font-size: 86px;
    color: #ffffff;
    font-family: Tektur, sans-serif;
    margin-left: 96px;
    margin-bottom: 48px;
    font-weight: 700;
  }
  
  .about-text {
    font-size: 18px;
    color: #ffffff;
    font-family: Comfortaa, sans-serif;
    margin-left: 96px;
    margin-bottom: 200px;
  }
  
  .core-values {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0 48px;
  
  }
  
  .core-values-container {
    z-index: 0;
    flex: 1;
    max-width: 50%;
    position: sticky;
    top: 200px;
    /* Adjust this value for spacing */
    align-self: flex-start;
    height: fit-content;
  }
  
  .core-values-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 58px;
    margin-right: 48px;
    margin-bottom: 200px;
    flex: 1;
  }
  
  .core-values-list-item {
    color: #ffffff;
    padding-bottom: 148px;
  }
  
  .core-values-heading {
    font-size: 64px;
    color: #ffffff;
    font-family: Tektur, sans-serif;
    padding-left: 48px;
    margin-bottom: 16px;
    font-weight: 700;
  }
  
  .highlight-core {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    z-index: 0;
  }
  
  .highlight-core::before {
    content: "";
    z-index: 1;
    left: -0.1em;
    top: .3em;
    border-width: 3px;
    border-style: solid;
    border-color: var(--malachite);
    position: absolute;
    border-right-color: transparent;
    width: 100%;
    height: 1.1em;
    transform: rotate(4deg);
    opacity: 0.7;
    border-radius: 50%;
    padding: 0.1em 0.25em;
  }
  
  .highlight-core:after {
    content: "";
    z-index: 1;
    left: -0.1em;
    top: 0.3em;
    padding: 0.1em 0.25em;
    border-width: 4px;
    border-style: solid;
    border-color: var(--malachite);
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    width: 100%;
    height: 1.1em;
    transform: rotate(-1deg);
    opacity: 0.7;
    border-radius: 50%;
  }
  
  .core-values-text {
    font-size: 18px;
    color: #ffffff;
    font-family: Comfortaa, sans-serif;
    padding-left: 48px;
    margin-bottom: 200px;
  }
  
  .CV-list-item-header {
    font-size: 24px;
    font-family: Comfortaa, sans-serif;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    font-weight: 700;
    color: var(--columbia-blue);
  }
  
  .CV-list-item-text {
    font-size: 16px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    padding-left: 48px;
    padding-bottom: 30px;
    line-height: 1.5;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
  
    100% {
      transform: rotate(360deg);
    }
  }
  
  .blur-icon {
    color: #39d05c;
    margin-left: 44px;
    animation: spin 4s linear infinite;
  }
  
  @media (max-width: 912px) {
  
    .main-about-container {
      min-width: 100%;
      height: 100vh;
    }
  
    .home-background-container {
      display: flex;
      position: fixed;
      top: 0;
      left: -50%;
      width: 200%;
      height: 100vh;
      pointer-events: none;
      /* So it doesn't interfere with clicking other elements */
      z-index: -1;
      /* Make sure it's behind everything else */
      overflow: hidden;
      justify-content: center;
      /* Centers the content horizontally */
      align-items: center;
      /* Centers the content vertically */
      margin-left: 0px;
    }
  
    .isolation {
      position: absolute;
      /* Keep images positioned relatively to each other */
      z-index: -2;
      width: 75%;
      /* Ensures they don't overflow */
      height: auto;
      /* Maintain aspect ratio */
    }
  
    .rocks {
      position: absolute;
      /* Keep images positioned relatively to each other */
      z-index: -1;
      min-width: 100%;
      /* Ensures they don't overflow */
      height: auto;
      /* Maintain aspect ratio */
    }
  
    .about-container {
      margin-top: 130px;
      width: 100%;
      text-align: center;
    }
  
    .about-sub-heading {
      font-size: 20px;
      margin-left: 0px;
      margin-bottom: 20px;
      text-align: center;
    }
  
    .header-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-bottom: 20px;
    }
  
    .about-heading {
      font-size: 50px;
      line-height: 50px;
      letter-spacing: -2px;
      margin-left: 0px;
      margin-bottom: 20px;
      padding-left: 0;
      padding-right: 0;
      margin-right: 0;
      text-align: center;
    }
  
    .logo-md {
      width: 300px;
    }
  
    .about-text {
      font-size: 16px;
      padding-left: 15px;
      padding-right: 15px;
      margin-left: 0px;
      margin-bottom: 0px;
    }
  
    .core-values-container {
      width: 100%;
      position: relative !important;
      display: inline;
    }
  
    .core-values {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 0px;
      padding: 0 0px;
      width: 100%;
    }
  
    .core-values-heading {
      color: #ffffff;
      width: 100%;
      font-family: Tektur, sans-serif;
      font-weight: 700;
      text-align: center;
      margin: 0 0px;
      padding: 0 0px;
    }
  
  }