.home-background-container {
    display: flex;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none; /* So it doesn't interfere with clicking other elements */
    z-index: -1; /* Make sure it's behind everything else */
    overflow: hidden;
    justify-content: center; /* Centers the content horizontally */
    align-items: center; /* Centers the content vertically */
    margin-left: 200px;
}

.isolation {
    position: absolute; /* Keep images positioned relatively to each other */
    z-index: -2;
    max-width: 100%; /* Ensures they don't overflow */
    height: auto; /* Maintain aspect ratio */
}

.rocks {
    position: absolute; /* Keep images positioned relatively to each other */
    z-index: -1;
    max-width: 100%; /* Ensures they don't overflow */
    height: auto; /* Maintain aspect ratio */
}

/* Apply this scaling to make them shrink together */
.home-background-container img {
    transform-origin: center; /* Ensure the scaling is centered */
}


.home-subheading {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    font-family: Tektur;
    letter-spacing: 1px;
    padding-left: 28px;
    display: inline-block;
    padding-right: 28px;
    margin-left: 76px;
}

.home-container {
    padding-top: 180px;
    width: 60%;
    min-height: 100vh;
    padding-bottom: 100px;
}

.home-heading {
    color: #FFF;
    font-family: "Archivo Black";
    font-size: 110px;
    font-style: normal;
    font-weight: 400;
    line-height: 112px;
    letter-spacing: -5px;
    margin-left: 78px;
    margin-top: 20px;
}

.home-text-container {
    width: 70%;
}

.home-text {
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: Inter, "sans-serif";
    padding-left: 160px;
    padding-top: 38px;
}

.sketch {
    color: #51ED71;
    font-family: Gochi Hand;
    font-size: 30px;
}

.work-btn {
    color: #000000;
    font-family: Inter, sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    display: flex;
    margin-top: 50px;
    margin-left: 96px;
    margin-bottom: 48px;
    cursor: pointer;
    pointer-events: auto;
    border-radius: 25px;
    border: 1px solid #1E6D31;
    background: linear-gradient(90deg, #61FF7E 0%, #39D05C 100%);
    z-index: 20;
}

.work-btn:hover {
    transform: translateX(5px);
    transition: 0.3s;
    transition: transform 0.3s ease;
}

.arrow {
    width: 18px;
    margin-top: auto;
    margin-left: 10px;
    transition: transform 0.3s ease;
}

.work-btn:hover .arrow {
    transform: translateX(7px) scale(1.1);
}

@media (max-width: 912px) {

    .home-background-container {
        display: flex;
        position: fixed;
        top: 0;
        left: -50%;
        width: 200%;
        height: 100vh;
        pointer-events: none; /* So it doesn't interfere with clicking other elements */
        z-index: -1; /* Make sure it's behind everything else */
        overflow: hidden;
        justify-content: center; /* Centers the content horizontally */
        align-items: center; /* Centers the content vertically */
        margin-left: 0px;
    }

    .isolation {
        position: absolute; /* Keep images positioned relatively to each other */
        z-index: -2;
        width: 75%; /* Ensures they don't overflow */
        height: auto; /* Maintain aspect ratio */
    }

    .rocks {
        position: absolute; /* Keep images positioned relatively to each other */
        z-index: -1;
        width: 100%; /* Ensures they don't overflow */
        height: auto; /* Maintain aspect ratio */
    }

    .home-container {
        padding-top: 150px;
        width: 100%;
        min-height: 100vh;
        padding-bottom: 50px;
        text-align: center;
    }

    .home-subheading {
        font-size: 20px;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: 30px;
        margin-bottom: 20px;
    }

    .home-heading {
        font-size: 50px;
        line-height: 30px;
        letter-spacing: -2px;
        margin-left: 0px;
    }

    .home-text-container {
        width: 100%;
        text-align: center;
    }

    .home-text {
        font-size: 20px;
        padding: 0;
        margin-top: 80px;
    }

    .sketch {
        font-size: 20px;
    }

    .work-btn {
        font-size: 16px;
        padding: 8px 16px;
        margin-left: 25%;
    }

}