
.rocks {
    min-width: 1170px;
    height: 1170px;
    position: fixed;
    right: -153px;
    bottom: -116px;
    z-index: -1;
}

.home-background-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    pointer-events: none; /* So it doesn't interfere with clicking other elements */
    z-index: -1; /* Make sure it's behind everything else */
    overflow: hidden;
  }
  

.isolation {
    min-width: 50%;
    position: fixed;
    right: 90px;
    bottom: 130px;
    z-index: -2;
}

.home-subheading {
    color: rgb(0, 0, 0);
    font-size: 20px;
    font-weight: 600;
    font-family: Tektur;
    letter-spacing: 1px;
    padding-left: 28px;
    display: inline-block;
    padding-right: 28px;
    margin-left: 76px;
}

.home-container {
    padding-top: 180px;
    width: 80%;
}

.home-heading {
    color: #FFF;
    font-family: "Archivo Black";
    font-size: 120px;
    font-style: normal;
    font-weight: 400;
    line-height: 112px;
    letter-spacing: -5px;
    margin-left: 78px;
    margin-top: 20px;
}

.home-text-container {
    width: 70%;
}

.home-text {
    color: white;
    font-size: 20px;
    font-weight: 700;
    font-family: Inter, "sans-serif";
    padding-left: 200px;
    padding-top: 38px;
}

.sketch {
    color: #51ED71;
    font-family: Gochi Hand;
    font-size: 30px;
}

.work-btn {
    color: #000000;
    font-family: Inter, sans-serif;
    font-size: 18px;
    padding: 10px 20px;
    text-decoration: none;
    display: inline-block;
    margin-top: 50px;
    margin-left: 96px;
    margin-bottom: 48px;
    cursor: pointer;
    border-radius: 25px;
    border: 1px solid #1E6D31;
    background: linear-gradient(90deg, #61FF7E 0%, #39D05C 100%);
}

.work-btn:hover {
    background: linear-gradient(90deg,#39D05C 100%, #61FF7E 0%,);
}