
.matrix-container {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
    z-index: -1;
    overflow: hidden;
  }
  
  .matrix-drop {
    position: absolute;
    color: #39ff14; /* Bright green */
    font-family: Tektur;
    font-size: 20px;
    animation: fall linear infinite;
    text-shadow: 0 0 5px #39ff14, 0 0 10px #39ff14;
    opacity: 0.75;
  }
  
  @keyframes fall {
    to {
      transform: translateY(100vh);
      opacity: 0; /* Fade out as it falls */
    }
  }
  