:root {
  --primary-green: #39d05c;
  --secondary-color: #282828f0;
}

@keyframes slideIn {
from {
    transform: translateX(-100%);
    opacity: 0;
}
to {
    transform: translateX(0);
    opacity: 1;
}
}

.nav-container {
  z-index: 10;
  position: fixed;
  top: 20px;
  left:5%;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 90%;
  height: 55px;
  background: rgb(0, 0, 0);
  transition: box-shadow 0.3s ease-in-out;
  border-radius: 50px;
}

.logo {
  width: 133px;
  height: 28px;
  margin-left: 40px;
}

.nav-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  padding-right: 40px;
}

li {
  list-style-type: none;
}

.nav-button {
  font-family: Tektur;
  font-size: 20px;
  color: var(--primary-green);
  text-decoration: none;
  cursor: pointer;
  padding: 10px 20px;
  border-radius: 5px;
  position: absolute;
  right: 35px;
  top: 8%;
  background: none;
  margin-right: 5%;
}

.nav-button::before {
  content: '';
  position: absolute;
  left: 0;
  top: 25%;
  width: 20px;
  height: 20px;
  background-color: rgb(29, 29, 29);
  border-radius: 10px;
  transition: width 0.3s ease-in-out, height 0.3s ease-in-out, left .3s ease-in-out, top 0.3s ease-in-out;
  z-index: -1;
}

.nav-button:hover::before {
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
}

#meny {
  background: #282828;
  width: 50rem;
  height: 100vh;
  position: fixed;
  right: 0;
  transition-timing-function: cubic-bezier(10,2,3,1);
  transform: translateX(50rem);
  top: 0;
  z-index: 0;
  transition: 0.5s;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

#meny.open {
  transform: translateX(0);
}

#burger {
  position: absolute;
  top: 20%;
  cursor: pointer;
  width: 2rem;
  height: 2rem;
  right: 2rem;
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  z-index: 1;
}

#burger > div {
  height: 2px;
  background-color: var(--primary-green);
  transition: 0.6s;
  z-index: 1;
}

#burger.open > div:nth-child(1) {
  transform: translateY(15px) rotate(45deg);
}
#burger.open > div:nth-child(2) {
  opacity: 0;
}
#burger.open > div:nth-child(3) {
  transform: translateY(-15px) rotate(-45deg);
}

.menu-item {
  font-size: 54px;
  color: white;
  text-align: center;
  padding: 5% 10%;
  font-family: Boldonse, sans-serif;
  font-weight: normal;
  opacity: 1;
  transform: translateX(-100%);
}

#meny.open .menu-item {
  animation: slideIn 0.5s ease-out forwards;
}

#meny.open .menu-item:nth-child(1) {
  animation-delay: 0.2s;
}

#meny.open .menu-item:nth-child(2) {
  animation-delay: 0.4s;
}

#meny.open .menu-item:nth-child(3) {
  animation-delay: 0.6s;
}

#meny.open .menu-item:nth-child(4) {
  animation-delay: 0.8s;
}

#meny.open .menu-item:nth-child(5) {
  animation-delay: 1s;
}

#meny.open .menu-item:nth-child(6) {
  animation-delay: 1.2s;
}


.hover-underline {
  color: #ffffff;
  position: relative;
}

.hover-underline::after,
.hover-underline::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 2px;
  background: linear-gradient(to right, var(--primary-green), #073213);
  bottom: -5px;
  left: 0;
  transform: scaleX(0);
  transform-origin: right;
  transition: transform 0.4s ease-out;
}

.hover-underline::before {
  top: -5px;
  transform-origin: left;
}

.hover-underline:hover::after,
.hover-underline:hover::before {
  transform: scaleX(1);
}

.vertical-menu-label {
  position: fixed;
  top: 50%;
  transform: translateY(-50%) rotate(180deg);
  writing-mode: vertical-rl;
  text-orientation: mixed;
  font-size: 18px;
  letter-spacing: 4px;
  font-weight: bold;
  font-family: Comfortaa, sans-serif;
  color: var(--primary-green);
  display: flex;
  align-items: center;
  gap: 1rem;
  z-index: 1;
}

.vertical-menu-label::before,
.vertical-menu-label::after {
  content: "";
  width: 1px;
  background-color: var(--primary-green);
  flex-grow: 1;
}

.vertical-menu-label::before {
  height: 90vh;
}

.vertical-menu-label::after {
  height: 100vh;
}

@media (max-width: 768px) {
  .vertical-menu-label {
      left: 0.5rem;
      font-size: 1.2rem;
  }

  .vertical-menu-label::before,
  .vertical-menu-label::after {
      height: 40vh;
  }
}
