:root {
    --primary-green: #39d05c;
    --secondary-color: #3b3b3b;
}

.nav-container {
    position: fixed;
    top: 0px;
    padding: 5px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    background: var(--secondary-color);
    transition: box-shadow 0.3s ease-in-out;
}

.title {
    font-family: Tektur;
    font-size: 34px;
    padding-left: 100px;
    letter-spacing: 1px;
    color: white;
}
.nav-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding-right: 40px;
}

li {
    list-style-type: none;
}

.nav-button {
    font-family: Tektur;
    font-size: 20px;
    color: var(--primary-green);
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    position: relative;
    display: inline-block;
    overflow: hidden;
    background: none;
  }
  
  .nav-button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    width: 20px;
    height: 20px;
    background-color: rgb(45, 45, 45);
    border-radius: 10px;
    transition: width 0.6s ease-in-out, height 0.6s ease-in-out, left 1s ease-in-out, top 0.6s ease-in-out;
    z-index: -1;
  }
  
  .nav-button:hover::before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .ham {
    cursor: pointer;
    -webkit-tap-highlight-color: transparent;
    transition: transform 400ms;
    -moz-user-select: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }
  .hamRotate.active {
    transform: rotate(45deg);
  }
  .hamRotate180.active {
    transform: rotate(180deg);
  }
  .line {
    fill:none;
    transition: stroke-dasharray 400ms, stroke-dashoffset 400ms;
    stroke:#000;
    stroke-width:5.5;
    stroke-linecap:round;
  }
  
  .ham8 .top {
    stroke-dasharray: 40 160;
  }
  .ham8 .middle {
    stroke-dasharray: 40 142;
    transform-origin: 50%;
    transition: transform 400ms;
  }
  .ham8 .bottom {
    stroke-dasharray: 40 85;
    transform-origin: 50%;
    transition: transform 400ms, stroke-dashoffset 400ms;
  }
  .ham8.active .top {
    stroke-dashoffset: -64px;
  }
  .ham8.active .middle {
    stroke-dashoffset: -20px;
    transform: rotate(90deg);
  }
  .ham8.active .bottom {
    stroke-dashoffset: -64px;
  }
  
  
  


@media (max-width: 930px) {


}