:root {
  --malachite: #39d05c;
  --columbia-blue: #A6BEC9;
  --raisin-black: #282828;
  --text-color: #ffffff;
}

.services-container {
  padding-top: 200px;
  width: 50%;
}

.services-sub-heading {
  font-size: 24px;
  color: var(--columbia-blue);
  font-family: Comfortaa, sans-serif;
  padding-left: 96px;
  padding-bottom: 10px;
}

.services-heading {
  font-size: 86px;
  color: #ffffff;
  font-family: Tektur, sans-serif;
  padding-left: 96px;
  padding-bottom: 48px;
  font-weight: 700;
}

.services-text {
  font-size: 18px;
  color: #ffffff;
  font-family: Comfortaa, sans-serif;
  margin-left: 96px;
  background: rgba(255, 255, 255, 0.1);
  /* Semi-transparent background */
  backdrop-filter: blur(10px);
  /* Apply blur effect to the background */
  -webkit-backdrop-filter: blur(10px);
  /* For Safari */
  border-radius: 10px;
  /* Optional: rounded corners */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Optional: shadow for depth */
}

.work-btn3 {
  color: #000000;
  font-family: Inter, sans-serif;
  font-size: 18px;
  padding: 10px 20px;
  text-decoration: none;
  display: flex;
  margin-top: 50px;
  margin-left: 96px;
  margin-bottom: 48px;
  cursor: pointer;
  pointer-events: auto;
  border-radius: 25px;
  border: 1px solid #1E6D31;
  background: linear-gradient(90deg, #61FF7E 0%, #39D05C 100%);
  z-index: 1;
}

.breakpoint {
  font-family: Tektur, sans-serif;
}

.services-summary {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 96px;
  margin-right: 96px;
  margin-bottom: 200px;
}

.services-summary-heading {
  font-size: 64px;
  color: #ffffff;
  font-family: Tektur, sans-serif;
  padding-bottom: 16px;
  padding-top: 200px;
  font-weight: 700;
}

.services-summary-text {
  font-size: 18px;
  color: #ffffff;
  font-family: Comfortaa, sans-serif;
  margin-bottom: 46px;
   background: rgba(255, 255, 255, 0.1);
  /* Semi-transparent background */
  backdrop-filter: blur(10px);
  /* Apply blur effect to the background */
  -webkit-backdrop-filter: blur(10px);
  /* For Safari */
  border-radius: 10px;
  /* Optional: rounded corners */
  padding: 20px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  /* Optional: shadow for depth */
}

.service-title {
  font-size: 24px;
  color: #39d05c;
  font-family: Comfortaa, sans-serif;
  padding-bottom: 10px;
}

.service-description {
  font-size: 16px;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  padding-bottom: 30px;
  line-height: 1.5;
}

.why-us {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 0 48px 0 48px;
}

.core-values-container {
  z-index: 0;
  flex: 1;
  max-width: 50%;
  position: sticky;
  top: 200px;
  /* Adjust this value for spacing */
  align-self: flex-start;
  height: fit-content;
}

.core-values-list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-left: 58px;
  padding-right: 48px;
  padding-bottom: 200px;
  flex: 1;
}

.core-values-list-item {
  color: #ffffff;
  padding-bottom: 148px;
}

.core-values-heading {
  font-size: 64px;
  color: #ffffff;
  font-family: Tektur, sans-serif;
  padding-left: 48px;
  padding-bottom: 16px;
  font-weight: 700;
}

.highlight-core {
  position: relative;
  display: inline-block;
  padding: 0 10px;
  z-index: 0;
}

.highlight-core::before {
  content: "";
  z-index: 1;
  left: -0.1em;
  top: .3em;
  border-width: 3px;
  border-style: solid;
  border-color: #39d05c;
  position: absolute;
  border-right-color: transparent;
  width: 100%;
  height: 1.1em;
  transform: rotate(4deg);
  opacity: 0.7;
  border-radius: 50%;
  padding: 0.1em 0.25em;
}

.highlight-core:after {
  content: "";
  z-index: 1;
  left: -0.1em;
  top: 0.3em;
  padding: 0.1em 0.25em;
  border-width: 4px;
  border-style: solid;
  border-color: #39d05c;
  border-left-color: transparent;
  border-top-color: transparent;
  position: absolute;
  width: 100%;
  height: 1.1em;
  transform: rotate(-1deg);
  opacity: 0.7;
  border-radius: 50%;
}

.core-values-text {
  font-size: 18px;
  color: #ffffff;
  font-family: Comfortaa, sans-serif;
  padding-left: 48px;
  margin-bottom: 200px;
}

.CV-list-item-header {
  font-size: 24px;
  font-family: Inter, sans-serif;
  display: flex;
  align-items: center;
  gap: 20px;
  margin-bottom: 10px;
  font-weight: 700;
}

.CV-list-item-text {
  font-size: 16px;
  color: #ffffff;
  font-family: Roboto, sans-serif;
  padding-left: 48px;
  padding-bottom: 30px;
  line-height: 1.5;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }

  100% {
    transform: rotate(360deg);
  }
}

.blur-icon {
  color: #39d05c;
  margin-left: 44px;
  animation: spin 4s linear infinite;
  width: 20px;
  margin-top: -15px;
}

@media (max-width: 912px) {

  .services-container {
    padding-top: 200px;
    margin: 0;
    width: 100%;
  }

  .services-sub-heading {
    font-size: 24px;
    color: var(--columbia-blue);
    font-family: Comfortaa, sans-serif;
    padding: 0 20px;
    margin-bottom: 20px;
    text-align: center;
  }

  .services-heading {
    font-size: 56px;
    color: #ffffff;
    font-family: Tektur, sans-serif;
    padding-left: 0px;
    padding-bottom: 48px;
    font-weight: 700;
    text-align: center;
  }

  .services-text {
    font-size: 18px;
    color: #ffffff;
    font-family: Comfortaa, sans-serif;
    padding: 20px 20px;
    margin: 0;
    max-width: calc(100% - 40px);
    margin-left: 20px;

  }

  .breakpoint {
    font-family: Tektur, sans-serif;
  }

  .convo-button {
    font-family: Tektur;
    font-size: 20px;
    color: var(--malachite);
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    left: 98px;
    background: none;
    margin-right: 5%;
  }

  .convo-button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    width: 20px;
    height: 20px;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, left .3s ease-in-out, top 0.3s ease-in-out;
    z-index: -1;
  }

  .convo-button:hover::before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  button.convo-button2 {
    display: none
  }

  .convo-button2::before {
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    width: 20px;
    height: 20px;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, left .3s ease-in-out, top 0.3s ease-in-out;
    z-index: -1;
  }

  .convo-button2:hover::before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }

  .services-summary {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-right: 0px;
    padding-bottom: 100px;
  }

  .services-summary-heading {
    margin: 0;
    padding: 0;
    font-size: 54px;
    color: #ffffff;
    font-family: Tektur, sans-serif;
    padding-bottom: 16px;
    padding-top: 100px;
    font-weight: 700;
    text-align: center;
  }

  .services-summary-text {
    max-width: calc(100% - 40px);
    width: 100%;
    margin: 0;
    padding: 20px;
    font-size: 18px;
    color: #ffffff;
    font-family: Comfortaa, sans-serif;
    margin-bottom: 96px;
    margin-left: 20px;
    
  }

  .service-title {
    font-size: 24px;
    color: #39d05c;
    font-family: Comfortaa, sans-serif;
    padding-bottom: 10px;
    margin-left: 20px;
  }

  .service-description {
    font-size: 16px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    padding-bottom: 30px;
    line-height: 1.5;
    margin-left: 20px;
  }

  .why-us {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 0 0;
  }

  .core-values-container {
    z-index: 0;
    flex: 1;
    max-width: 50%;
    position: sticky;
    top: 200px;
    /* Adjust this value for spacing */
    align-self: flex-start;
    height: fit-content;
  }

  .core-values-list {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-left: 58px;
    padding-right: 48px;
    padding-bottom: 200px;
    flex: 1;
  }

  .core-values-list-item {
    color: #ffffff;
    padding-bottom: 148px;
  }

  .core-values-heading {
    font-size: 64px;
    color: #ffffff;
    font-family: Tektur, sans-serif;
    padding-left: 48px;
    padding-bottom: 16px;
    font-weight: 700;
  }

  .highlight-core {
    position: relative;
    display: inline-block;
    padding: 0 10px;
    z-index: 0;
  }

  .highlight-core::before {
    content: "";
    z-index: 1;
    left: -0.1em;
    top: .3em;
    border-width: 3px;
    border-style: solid;
    border-color: #39d05c;
    position: absolute;
    border-right-color: transparent;
    width: 100%;
    height: 1.1em;
    transform: rotate(4deg);
    opacity: 0.7;
    border-radius: 50%;
    padding: 0.1em 0.25em;
  }

  .highlight-core:after {
    content: "";
    z-index: 1;
    left: -0.1em;
    top: 0.3em;
    padding: 0.1em 0.25em;
    border-width: 4px;
    border-style: solid;
    border-color: #39d05c;
    border-left-color: transparent;
    border-top-color: transparent;
    position: absolute;
    width: 100%;
    height: 1.1em;
    transform: rotate(-1deg);
    opacity: 0.7;
    border-radius: 50%;
  }

  .core-values-text {
    font-size: 18px;
    color: #ffffff;
    font-family: Comfortaa, sans-serif;
    padding-left: 48px;
    padding-bottom: 200px;
  }

  .CV-list-item-header {
    font-size: 24px;
    font-family: Comfortaa, sans-serif;
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 10px;
    font-weight: 700;
  }

  .CV-list-item-text {
    font-size: 16px;
    color: #ffffff;
    font-family: Roboto, sans-serif;
    padding-left: 48px;
    padding-bottom: 30px;
    line-height: 1.5;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }

  .blur-icon {
    color: #39d05c;
    margin-left: 44px;
    animation: spin 4s linear infinite;
    width: 20px;
    margin-top: -15px;
  }

}