.services-container {
    padding-top: 200px;
    width: 50%;
  }

  .services-sub-heading {
    font-size: 24px;
    color: #adadad;
    font-family: Comfortaa, sans-serif;
    padding-left: 96px;
    padding-bottom: 10px;
  }

  .services-heading {
    font-size: 86px;
    color: #ffffff;
    font-family: Tektur, sans-serif;
    padding-left: 96px;
    padding-bottom: 48px;
    font-weight: 700;
  }

  .services-text {
    font-size: 18px;
    color: #ffffff;
    font-family: Comfortaa, sans-serif;
    padding-left: 96px;
    padding-bottom: 48px;
  }

  .breakpoint {
    font-family: Tektur, sans-serif;
  }

  .convo-button {
    font-family: Tektur;
    font-size: 20px;
    color: var(--primary-green);
    text-decoration: none;
    cursor: pointer;
    padding: 10px 20px;
    border-radius: 5px;
    position: absolute;
    left: 98px;
   
    background: none;
    margin-right: 5%;
  }
  
  .convo-button::before {
    content: '';
    position: absolute;
    left: 0;
    top: 25%;
    width: 20px;
    height: 20px;
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    transition: width 0.3s ease-in-out, height 0.3s ease-in-out, left .3s ease-in-out, top 0.3s ease-in-out;
    z-index: -1;
  }
  
  .convo-button:hover::before {
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
  }
